@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500&family=Roboto&display=swap");

:root {
	/* color */
	--purple-50: #7037f0;
	--purple-80: #d6c6fb;
	--red-50: #e41111;
	--black-00: #080217;
	--black-30: #454151;
	--black-40: #817f8b;
	--black-70: #dcdce2;
	--black-90: #fafbff;
	--white: #fff;
	--black: var(--black-00);
	/* ui color */
	--primary-color: var(--purple-50);
	--primary-container-color: var(--purple-80);
	--background-color: var(--black-90);
	--border-color: var(--black-70);
	--on-background-color: var(--black-30);
	--on-background-secondary-color: var(--black-40);
	--error-color: var(--red-50);
	/* font size */
	--fs-normal: 16px;
	--fs-h1: 40px;
	--fs-h2: 32px;
	--fs-h3: 28px;
	--fs-h4: 24px;
	--fs-h5: 20px;
	--fs-h6: 16px;
	--fs-caption: 14px;
	--fs-caption-sm: 12px;
	/* font weight */
	--fw-bold: 500;
	--fw-normal: 400;
	/* line-height */
	--lh-normal: calc(var(--fs-normal)+8);
	--lh-h1: calc(var(--fs-h1)+8);
	--lh-h2: calc(var(--fs-h2)+8);
	--lh-h3: calc(var(--fs-h3)+8);
	--lh-h4: calc(var(--fs-h4)+8);
	--lh-h5: calc(var(--fs-h5)+8);
	--lh-h6: calc(var(--fs-h6)+8);
	--lh-caption: calc(var(--fs-caption)+8);
	--lh-caption-sm: calc(var(--fs-caption-sm)+8);
	/* border-radius */
	--br-lg: 16px;
	--br-md: 8px;
	--br-sm: 4px;
	/* box-shadow */
	--bs-layer1: 8px 11px 29px 0px rgba(129, 127, 139, 0.15);
	/* width: 12column */
	--col-1: 110px;
	--col-4: calc(var(--col-1) * 4);
}
html {
	height: 100%;
}
body {
	height: 100%;
	margin: 0;
	font-family: "Noto Sans KR", sans-serif;
	font-weight: var(--fw-normal);
	font-size: var(--fs-normal);
	color: var(--on-background-color);
}
/* layout */
#root {
	height: 100%;
}
.App {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	background: var(--background-color);
}
.page_wrap {
	display: flex;
	flex: 1;
	position: relative;
}
.page_wrap .container {
	position: relative;
	width: 100%;
	max-width: 1100px;
	padding: 72px 40px;
	margin: 0 auto;
}
/* common */
h2 {
	line-height: var(--lh-h2);
	font-size: var(--fs-h2);
	font-weight: var(--fw-bold);
}
h3 {
	line-height: var(--lh-h3);
	font-size: var(--fs-h3);
	font-weight: var(--fw-bold);
}
h4 {
	line-height: var(--lh-h4);
	font-size: var(--fs-h4);
	font-weight: var(--fw-bold);
}
.content_box {
	border-radius: var(--br-md);
	background: var(--white);
	box-shadow: var(--bs-layer1);
}
.title_h3 {
	line-height: var(--lh-h3);
	font-size: var(--fs-h3);
	font-weight: var(--fw-bold);
}
.col_4 {
	width: var(--col-4);
}
/* header */
.header {
	display: flex;
	align-items: center;
	width: 100%;
	min-height: 72px;
	padding: 0 16px;
	box-sizing: border-box;
	background: var(--primary-color);
}
.header .button_navi {
	width: 24px;
	height: 24px;
	margin-right: 16px;
}
.header .logo {
	font-size: var(--fs-h4);
	font-weight: var(--fw-bold);
	color: var(--white);
}
.header .header_button_wrap {
	display: flex;
	margin-left: auto;
}
.header .header_button_wrap .header_links {
	display: block;
	padding: 10px 24px;
	border-radius: var(--br-md);
	font-size: var(--fs-normal);
	font-weight: var(--fw-normal);
	color: var(--white);
}
header .header_button_wrap .header_links.active {
	background: var(--white);
	font-weight: var(--fw-bold);
	color: var(--primary-color);
}
.header .header_button_wrap .header_btns {
	display: block;
	width: 36px;
	height: 36px;
	padding: 6px 0;
	margin-left: 16px;
	overflow: hidden;
	box-sizing: border-box;
	border-radius: 100%;
	text-align: center;
	font-size: 0;
}
.link_profile {
	background-color: var(--border-color);
}
.link_write {
	background-color: var(--primary-container-color);
}
.button_logout {
	background-color: var(--primary-container-color);
}

/* nav */
.nav {
	flex: 0 0 auto;
	width: 300px;
	padding: 16px 0;
	background: var(--white);
	box-shadow: var(--bs-layer1);
}
.nav_menu {
	padding: 0 16px;
}
.nav a {
	display: flex;
	align-items: center;
	height: 56px;
	padding: 0 16px;
	border-radius: var(--br-md);
	color: var(--on-background-color);
}
.nav a:hover {
	background: var(--primary-container-color);
	color: var(--primary-color);
}
.nav a:focus {
	background: var(--primary-container-color);
	color: var(--primary-color);
}
.nav .home_link {
	padding: 0 16px;
}
.nav .home_link svg {
	margin-right: 12px;
}
.nav .home_link a:hover svg path,
.nav .home_link a:focus svg path {
	fill: var(--primary-color);
}
.nav a .toggle_updown {
	width: 24px;
	height: 24px;
	margin-left: auto;
}
.nav a.unfold .toggle_updown {
	transform: rotate(180deg);
}
.depth2 {
	padding: 0;
	transition: all 0.3s;
	max-height: 0;
	overflow: hidden;
}
.depth2 .nav_menu_item a {
	position: relative;
	height: 36px;
	padding: 0 16px 0 36px;
	font-size: var(--fs-caption);
}
.depth2 .nav_menu_item a:hover {
	background: none;
	color: var(--primary-color);
}
.depth2 .nav_menu_item a:hover::before {
	content: "";
	position: absolute;
	left: 16px;
	display: block;
	width: 8px;
	height: 8px;
	border-radius: 100%;
	background: var(--primary-color);
}
.nav a.unfold + .nav_menu.depth2 {
	max-height: fit-content;
	padding: 12px 0;
}

/* button */
button {
	padding: 0;
	border: 0 none;
	background: none;
	box-sizing: border-box;
	font-family: "Noto Sans KR", sans-serif;
	line-height: var(--lh-caption);
	font-weight: var(--fw-bold);
}
button.primary {
	border: 1px solid var(--primary-color);
	background-color: var(--primary-color);
	color: var(--white);
}
button.em {
	border: 1px solid var(--black);
	background-color: var(--black);
	color: var(--white);
}
button.cancel {
	border: 1px solid var(--on-background-secondary-color);
	background-color: var(--on-background-secondary-color);
	color: var(--white);
}
button.another {
	border: 1px solid var(--primary-color);
	background-color: var(--white);
	color: var(--primary-color);
}
button.error {
	border: 1px solid var(--error-color);
	background-color: var(--error-color);
	color: var(--white);
}
button.no_em {
	border: 1px solid var(--on-background-secondary-color);
	background-color: var(--white);
	color: var(--on-background-secondary-color);
}
button.big {
	padding: 18px 24px;
	border-radius: var(--br-md);
	font-size: var(--fs-normal);
}
button.small {
	padding: 6px 8px;
	border-radius: var(--br-md);
	font-size: var(--fs-caption);
}

/* input */
label {
	display: block;
	font-size: var(--fs-normal);
	margin-bottom: 6px;
}
input {
	border: 1px solid var(--border-color);
	border-radius: var(--br-md);
	background: var(--white);
	font-size: var(--fs-normal);
	color: var(--on-background-color);
	padding: 0 16px;
	height: 48px;
	box-sizing: border-box;
}
input::placeholder {
	font-size: var(--fs-normal);
	color: var(--on-background-secondary-color);
}
input.error {
	border: 1px solid var(--error-color);
	color: var(--error-color);
}
.error_msg {
	padding: 4px 0;
	font-size: var(--fs-caption-sm);
	color: var(--error-color);
}
.input_wrap .input_area {
	display: flex;
	align-items: center;
	width: 100%;
}
.input_wrap .input_area input {
	flex: 1;
}
.input_wrap .input_area button {
	width: auto;
	margin: 0 0 0 8px;
	padding: 16px 24px;
}

/* select (custom) */
.custom_select {
	min-width: 250px;
}
.custom_select .label {
	margin-bottom: 6px;
}
.custom_select .select_body {
	position: relative;
	width: 100%;
	height: 48px;
	padding: 8px 56px 8px 16px;
	border: 1px solid var(--border-color);
	border-radius: var(--br-md);
	background: var(--white);
	color: var(--on-background-secondary-color);
	line-height: 30px;
}
.custom_select .select_body::after {
	content: "";
	position: absolute;
	top: 11px;
	right: 16px;
	width: 24px;
	height: 24px;
	background-image: url("./assets/icon_arrow_down.svg");
	background-repeat: no-repeat;
	background-position: center;
	transform: rotate(180deg);
}
.custom_select .option_list {
	display: none;
	border: 1px solid var(--border-color);
	border-top: 0 none;
	border-radius: 0 0 8px 8px;
	background: var(--white);
	overflow: hidden;
}
.custom_select .option_list li {
	padding: 12px 16px;
	line-height: 24px;
	border-top: 1px solid var(--border-color);
	color: var(--on-background-secondary-color);
}
.custom_select .option_list li:first-child {
	border-top: 0 none;
}
.custom_select.active .select_body {
	border-radius: 8px 8px 0 0;
}
.custom_select.active .option_list {
	display: block;
}

/* pages */
/* input_box */
.input_box {
	margin: 0 auto;
}
.input_box .title_h3 {
	margin-bottom: 32px;
	text-align: center;
}
.input_box .content {
	width: 100%;
}
.input_box .content .input_wrap {
	width: 100%;
	margin-bottom: 8px;
}
.input_box button {
	width: 100%;
	margin-top: 32px;
}
/* login */
.login_box {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate3d(-50%, -50%, 0);
}
/* signup */
.sign_box .validate_email_wrap {
	margin-bottom: 16px;
}
.sign_box .validate_email_wrap button {
	margin-top: 8px;
}
.validate_email_msg {
	padding: 8px 0;
	margin-top: 8px;
	text-align: center;
	font-size: var(--fs-caption-sm);
}
.validate_email_msg.error {
	color: var(--error-color);
}

/* board_list_box */
.board_list_box {
	padding: 0 16px;
	margin-top: 16px;
	background: var(--white);
	border-radius: var(--br-md);
	box-shadow: var(--bs-layer1);
}
.board_list_box li {
	border-top: 1px solid var(--border-color);
}
.board_list_box li:first-child {
	border-top: 0 none;
}
/* board_item */
.board_item {
	padding: 24px;
}
.board_item .board_item_element_wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.board_item .category_tag {
	width: fit-content;
	padding: 4px 8px;
	border-radius: var(--br-sm);
	background: var(--primary-container-color);
	font-size: var(--fs-caption-sm);
	color: var(--primary-color);
}
.board_item .board_info {
	display: flex;
	align-items: center;
}
.board_item .board_info .info_item {
	display: flex;
	align-items: center;
	margin-left: 8px;
}
.board_item .board_info .icon {
	font-size: 0;
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-right: 2px;
	background-repeat: no-repeat;
	background-position: center;
	overflow: hidden;
}
.board_item .board_info .info {
	font-family: "Roboto";
	font-size: var(--fs-caption);
	color: var(--on-background-secondary-color);
}
.board_item .board_info .comments_info .icon {
	background-image: url("./assets/icon_sms.svg");
}
.board_item .board_info .votes_info .icon {
	background-image: url("./assets/icon_thumb_up.svg");
}
.board_item .title {
	margin: 14px 0;
	line-height: 100%;
	font-size: var(--fs-h5);
	font-weight: var(--fw-bold);
}
.board_item .board_date {
	font-family: "Roboto";
	font-size: var(--fs-caption);
	color: var(--on-background-secondary-color);
}
.board_item .board_writer {
	font-size: var(--fs-caption);
	color: var(--on-background-secondary-color);
}
